/* offline font */
@font-face {
font-family: "Perfect Dos VGA 437";
src: url("Perfect DOS VGA 437.ttf");
}
/*
online font :
@import url('https://fonts.cdnfonts.com/css/perfect-dos-vga-437');
*/
:root {
    --blueLight:#0089BB;
    --blueDark:#0019CB;
    --grey:#B6B3B0;
}
body {
    position: relative;
}
* {
    font-family: 'Perfect DOS VGA 437';
    font-weight: 600;
    margin:0;
    padding:0;
    text-transform: capitalize;
    font-size:21px;
    /* For Best Emulation disabling cursor, mouse events, selection*/
    cursor:none;
    pointer-events:none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.hdng {
    background-color: var(--blueLight);
    padding: 10px;
    text-align: center;
}
/* Start Switches */
.swtch {
    display: flex;
    flex-direction: row;
    background-color: var(--blueDark);
    color:var(--grey);
}
.swtch .selm {
    width:10%;
    padding:10px;
    font-weight:400;
    text-align:center;
}
/* End Switches */

/* Start Tabs Content */
.tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height:80vh;
}
.telm {
    padding:20px;
    width:100%;
    min-height:100%;
    display:none;
    background:var(--grey);
    position: relative;
}
.parent {
    display: flex;
    flex-direction: row;
    height:100%;
}
.child {
    color:var(--blueDark);
    padding:20px;
}
.child:first-child > div {
    display: flex;
    flex-direction: column;
    width:50%;
}
.child:first-child > div > div {
    padding-bottom:8px;
}
.subchild {
    border:2px solid black;
    padding:10px;   
}
.child:first-child {
    flex-basis:70%;
    border:2px solid black;
    border-right: none;
    display: flex;
    flex-direction: row;
    padding:30px;
}
.child:last-child {
    display: flex;
    flex-direction: column;
    padding:0;
    flex-basis:30%;
    color:black;
}
.child:last-child .subchild:first-child {
    padding: 7px;
    flex-basis:5%;
    border-bottom:none;
    text-align: center;
}
.child:last-child .subchild:last-child {
    flex-basis:95%;
    padding:20px 10px;
    font-size:110%;
    line-height: 120%;
}
/* End Tabs Content */


/* Start Footer */
.footer {
    background-color: var(--blueLight);
    height:70px;
    font-size:18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.footer > div:not(.panelFooter) {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    width:90%;
    padding:4px;
}
.footer > div:not(.panelFooter) .rowelm:nth-child(odd) {
    flex-basis:5%;
    color:white;
}
.footer > div:not(.panelFooter) .rowelm:nth-child(even) {
    flex-basis:20%;
}
/* End Footer */

/* Start Some Custom Styles For Some Elements */
.curly::before {
    content:'[';
}
.curly::after {
    content:']';
}
.arrow,.add {
    position: relative;
}
.arrow::before, .add::before{
    position: absolute;
}
.add::before {
    content:'+';
    left:-15px;
    top:-5%;
}
.arrow::before {
    content: '\2BC8';            
    top:-20%;
    left:-22px;
}
.black {
    color:black;
}
/* End Custom Styles */

/* Start The Confirmation Panel */
.panel {
    z-index:2;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#FFFEFB;
    width:510px;
    padding:12px 5px;
    box-shadow:10px 15px;
    display: flex;
    flex-direction: column;
    text-align:center;
    color:#212055;
    animation: .3s old;
    animation-iteration-count: 1;
}
.panel > div{
    padding:15px;
    border:2px solid black;
}
.panel .vf .yn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@keyframes old {
    0%{
        height:40px;
    }
    85% {
        height:80px;
    }
    100%{
        height:140px;
    }
    
}
/* Start The Confirmation Panel */


/* Start panelFooter(This Footer appeared When a Confirmation Panel Showed) */
.panelFooter {
    z-index:5;
    position:absolute;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: inherit;
}
.panelFooter .sec {
    flex-basis: 22%;
    display: flex;
    flex-direction: row;
}
.panelFooter .sec:last-child {
    justify-content: end;
}

.panelFooter .sec > div {
    text-align:center;
    flex-basis: 35%;
}
.panelFooter .sec > div:nth-child(odd) {
    color:white;
}
.panelFooter .sec > div:nth-child(even) {
    color:black;
}
/* End panelFooter */

/* Start Help Page*/
.help {
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--grey);
    color: var(--blueDark);
    padding:1%;
    line-height:35px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
}
.help > div:first-child{
    text-align:center;
    flex-basis:5%;
    border-bottom:none;
}
.help > div:last-child{
    position: relative;
    flex-basis: 95%;
}
.help > div {
    padding:1%;
    border:2px solid black;
    width:90%;
}
.help .continue{
    position:absolute;
    width:100%;
    text-align: center;
    bottom:10px;
    left:0;
}
/* End Help Page*/

/* Start SubMenu*/
.subMenu {
    background: var(--grey);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100%;
    z-index: 2;
}
.subMenu .child:first-child {
    border-top:none;
    position: relative;
    padding-top:80px;
}
.subMenu .key {
    display: flex;
    flex-direction: column;
}
.subMenu .child:last-child .subchild:first-child{
    border-top:none;
}
.subMenu .child:first-child .heading {
    color:black;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width:50%;
    text-align:center;
    border-bottom:2px solid black;
    height: 4%;
    padding:9px 0;
}
/* End SubMenu*/
